@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --primary-color: #0683eb;
  --home-color: #3f9185;
  --light-color: #f2f2f2;
  --danger-color: crimson;
  --grey-color: rgba(173, 173, 173, 0.45);
  --grey-hover-color: rgba(179, 179, 179, 0.72);
  --grey-active-color: rgba(132, 132, 132, 0.76);
  --disabled-color: rgba(116, 116, 116, 0.63);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: var(--home-color);
  color: var(--light-color);
}

ul {
  list-style: none;
}

textarea {
  resize: none;
  min-height: 60px;
  outline: none;
  padding: 10px;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  background-color: var(--light-color);
};

button {
  padding: 7px 18px;
  margin: 6px 0;
  color: var(--primary-color);
  font-weight: 700;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;

  &[disabled], &.disabled {
    cursor: not-allowed;
    color: var(--grey-hover-color);
    background-color: var(--disabled-color);

    &:hover {
      background-color: var(--disabled-color);
    }
  }

  &:hover {
    background-color: var(--grey-hover-color);
  }

  &:active {
    background-color: var(--grey-active-color);
  }
}

.search {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  & input {
    padding: 10px 15px;
    width: 300px;
    outline: none;
    border: 1px solid var(--grey-color);
    border-radius: 3px;
  }
}

.comment {
  margin: 0 15px 10px;
  padding: 0 15px 10px;
  border-left: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 5px;
  background-color: var(--grey-color);

  button {
    font-weight: 600;
    color: var(--danger-color);
  }
}

.action {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 0.5rem;
}
