<div class="comment" *ngFor="let comment of comments;let i = index">
  <ul>
    <li>

      <div class="title">
        <p>{{ comment.title }}</p>
        <button (click)="onDelete(i)">Delete</button>
      </div>

      <form  #form="ngForm">
        <div class="action">
          <textarea
            placeholder="Comment this comment ..."
            ngModel
            name="title"
            required
          ></textarea>

          <button
            [disabled]="!form.valid"
            (click)="onSubmit(comment, form)"
          >Send</button>
        </div>
      </form>

      <!-- Sub comment -->
      <app-comment [comments]="comment.comments" *ngIf="comment.comments"></app-comment>

    </li>
  </ul>
</div>
